<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Tasks Stats</h4>

  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
      <th>#</th>
      <th>title</th>
      <th>category</th>
      <th>priority</th>
      <th>date</th>
      <th>completed</th>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks;let i = index">
        <td>{{i+1}}</td>
        <td>{{task.title}}</td>
        <td>{{task.category?task.category.title:'non'}}</td>
        <td>{{task.priority?task.priority.title:'non'}}</td>
        <td>{{task.date?(task.date | date:'short') : 'non'}}</td>
        <td>{{task.completed}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
